{% extends "base.html" %}
{% block content %}



{% load static %}
<link rel="stylesheet" href="{% static 'auspolicy.css' %}">

<div class="img-group">
    <img src="{% static 'images/ausea.png' %}" alt="Sea" style="width: 98.6%; height: auto; margin:10px;opacity: 0.5;">
    <div class="img-tip">
    <span style="position: absolute; top: 280px; left: 80px;font-size:90px;color:black;text-align:center;">Australian Policy under COVID-19</span>
    </div>
</div>



<div class="p1" style="background-color:Bisque;padding-top:-19px;">
     <h1 style="text-align:center;">Travelling into and out of Australia</h1>
     <p style="font-size: 20px;line-height: 150%;margin-left:100px;margin-right:100px;">You must show evidence that you have been vaccinated, at least 7 days prior
          to international travel into or out of Australia, with a vaccine approved or
          recognised by the Therapeutic Goods Administration (TGA).</p>
     <p style="font-size: 20px;line-height: 150%;margin-left:100px;margin-right:100px;">You must provide evidence of a negative COVID-19 PCR test taken within
          3 days of your flight’s scheduled departure to your airline when you
          check-in for a flight to travel into Australia.</p>
     <p style="font-size: 18px;line-height: 50%;margin-left:60px;margin-right:100px;text-align:right;">(Australian Government Department of Health 2021)</p>
</div>

<div style="background-color:Bisque;">
     <div class="p2" style="width:700px;margin-left:100px;margin-top:19px;">
     <h1>State and territory travel restrictions</h1>
     <h3>States and territories can apply their own travel restrictions, including:</h3>
         <p style="font-size: 18px; line-height: 150%;text-align:justify;">Closing state borders and restricting travel into and out of their state.</p>
         <p style="font-size: 18px; line-height: 150%;text-align:justify;">Restricting travel into and out of areas within their state.</p>
         <p style="font-size: 18px; line-height: 150%;text-align:justify;">Requiring people who have travelled to and from some areas to quarantine for 14 days.</p>
         <p style="font-size: 18px; line-height: 150%;text-align:justify;">In some states and territories, you may have to pay a contribution to the cost of quarantine.</p>
         <p style="font-size: 18px; line-height: 120%;text-align:right;">(Australian Government Department of Health 2021)</p>

     </div>
     <div class="scnp">
          <br>
     <img src="{% static 'images/scnp.png' %}" alt="Spring Creek National Park" style="margin-top:40px;">
          <p id="intext_re" style="font-size:9px;margin-top:0px;width:75%;text-align:justify;margin-left:930px;">Spring Creek National Park, Warrie Circuit,
                              Gold Coast, Queensland © Gold Coast Tourism (Tourism Australia 2021)</p>
     </div>
</div>



<div style="margin-top:-10px;background-color:Bisque;margin-left:-40px;margin-right:-10px;padding-bottom:90px;">
     <div class="wa" style="margin-left:120px; margin-right:100px;">
          <br><br>
          <img src="{% static 'images/wa.png' %}" alt="Spring Creek National Park">
          <p id="intext_re" style="font-size:9px;margin-top:0px;width:80%;text-align:justify;margin-left:36px;">Quokka, Rottness Island, Western Australia © James Vodicka. All Rights Reserved (Tourism Australia 2021)</p>
     </div>

     <div class="p3">
     <h1 style="margin-top:90px;">Stay informed</h1>
     <p>Whether you’re travelling in Australia or overseas, make sure you know the
         <a id="fc" href="https://www.health.gov.au/news/health-alerts/novel-coronavirus-2019-ncov-health-alert/ongoing-support-during-coronavirus-covid-19/what-you-need-to-know-about-coronavirus-covid-19"><strong><i>facts about COVID-19</i></strong></a>
          .<p>
     <p>Keep informed through our
     <a id="fc" href="https://www.health.gov.au/news/health-alerts/novel-coronavirus-2019-ncov-health-alert/coronavirus-covid-19-news-and-media"><strong><i>COVID-19 news and media</i></strong></a>
     .</p>
          <p>(Australian Government Department of Health 2021)</p>
          <br>
          <br>
          <br>
     </div>
</div>
    <div style="margin-top:90px; margin-left:120px;">
        <h1>More information</h1>
        <div style="float:left;">
        <img src="{% static 'images/SCC.png' %}" alt="Canberra Space Communications Centre">
            <p id="intext_re" style="font-size:9px;margin-top:0px;width:100%;text-align:justify;margin-left:30px;">Canberra Space Communications Centre, Canberra, Australian Capital
                Territory © Canberra Visitors. All Rights Reserved</p>
        </div>
        <div>
        <img src="{% static 'images/DNP.png' %}" alt="Dark Night Park" style="margin-left:120px; margin-top:100px; width:40%">
            <p id="intext_re" style="font-size:9px;margin-top:0px;width:75%;text-align:justify;margin-left:700px;">Dark Night Park, Warunpangao National Park, New South Wales ©
                Tourism New South Wales. All Rights Reserved</p>
        </div>
    </div>




 <div class="reflist" style="font-size: 15px;
    color:#686868;
    margin-top:153px;
    margin-left:-50px;
    margin-right:-50px;
    text-align:left;
  background-color:Bisque;
    ">
     <div style=" padding-top:20px;margin-left:90px;margin-right:100px;">
        <h3>Reference list：</h3>
    <p>1. Australian Government Department of Health 2021, International travel and COVID-19, viewed 11 November 2021,
         <a class="acolor" href="https://www.health.gov.au/news/health-alerts/novel-coronavirus-2019-ncov-health-alert/coronavirus-covid-19-travel-and-restrictions/international-travel-and-covid-19" >
              https://www.health.gov.au/news/health-alerts/novel-coronavirus-2019-ncov-health-alert/coronavirus-covid-19-travel-and-restrictions/international-travel-and-covid-19</a>.
    </p>
     <p>2. Tourism Australia 2021, Where to meet Australia’s cutest animals, viewed 11 November 2021,
     <a class="acolor" href="https://www.australia.cn/zh-cn/things-to-do/wildlife/where-to-meet-australias-cutest-animals.html">https://www.australia.cn/zh-cn/things-to-do/wildlife/where-to-meet-australias-cutest-animals.html</a>.
     </p>
     <p>3. Tourism Australia 2021, Find travel inspiration, viewed 11 November 2021,
     <a class="acolor" href="https://www.australia.cn/zh-cn/travel-inspiration.html">https://www.australia.cn/zh-cn/travel-inspiration.html</a>.
     </p>
     <p>4. Tourism Australia 2021, Australia's ultimate stargazing resort, viewed 11 November 2021,
     <a class="acolor" href="https://www.australia.cn/zh-cn/things-to-do/nature-and-national-parks/best-places-for-stargazing-australia.html">https://www.australia.cn/zh-cn/things-to-do/nature-and-national-parks/best-places-for-stargazing-australia.html</a>.
     </p>
 </div>
     <div class="clickcomment" style="opacity: 0.5;font-size:20px;text-align:right;border-style:solid; border-radius:25px;
    margin-left:1060px; padding:20px 20px 10px 10px;
    margin-bottom:20px; margin-right:160px;
    margin-top:20px;">
        <a style="font-style:italic; color:black;text-decoration: none;" href="/regist/">Leave Your Comment, Click Me</a>
    </div>
 </div>


{% endblock %}