{% extends "base.html" %}
{% block content %}
<br>
     <br>
     <br>


{% load static %}
<link rel="stylesheet" href="{% static 'chpolicy.css' %}">

<div class="img-group">
    <img src="{% static 'images/cp.jpeg' %}" alt="cp" style="width: 98.6%; height:400px; margin:10px;opacity: 0.5;position: relative;display: inline-block;">
    <div class="img-tip">
    <span style="position: absolute; top: 280px; left: 100px;font-size:90px;color:black;text-align:center;">Chinese Policy under COVID-19</span>
    </div>
</div>

<div style="background-color:AntiqueWhite;padding-bottom:90px;margin-left:-80px;margin-right:-80px;">
    <div class="ts">
        <h1 style="text-align:center;margin:10px;">Travel safety guarantee in China</h1>
        <p style="font-size: 22px;margin:5px;text-align:center;">No traveling to the provinces, municipalities or provincial level administrative regions with medium-risk and high-risk areas.</p>
    </div>


        <div class="must_have" style="font-size: 18px;
    border: 5px solid white;
    background-color: white;
    width: 350px;
    margin-left:250px;
    margin-top:33px;
    float: left;
    padding: 14px 40px;
    text-align:justify;
    line-height:200%;">
        <h2 style="margin: 0px;">Must have:</h2>
            <div class="mh_c" style="float:left;">

                    <img src="{% static 'images/Green.jpeg' %}" alt="Green Health Code" style="width: 45%; height:auto;float:left;margin-right:20px;">
                    <img src="{% static 'images/GreenT.jpeg' %}" alt="Green Travel Code" style="width: 45%; height:auto;">
            </div>
            <div class="mh_c">


                    <p style="text-align:center;line-height:10%"><br><a href="/healthcode">(1) Green Health Codes</a>
                <a href="/travelcode">(2) Green 14-Day Dynamic Trip Record</a></p>
            </div>


        </div>

        <div>
        <div class="suggest_have" style="font-size: 18px;
    border: 5px solid white;
    background-color: white;
    width: 500px;
    margin-top:40px;
    padding: 14px 40px;
    margin-left:850px;
    text-align:justify;
    line-height:200%;">
            <h2>Suggest to have:</h2>
            <p>(1) Prepare enough masks (at least one per day per person) and wear a mask over your nose and mouth during your trip</p>
            <p>(2) Hand sanitizer and wash your hands regularly</p>
            <p>(3) A small bottle of disinfectant fluid or ethyl alcohol, disinfecting whips (better to buy at your travel destination in case of the restriction of flight or train security inspection)</p>
            <p>(4) Try to use electronic payment to reduce contact</p>
            <p style="text-align: right;">(ChinaDiscovery 2021)</p>
        </div>
    </div>
</div>

<div>
    <div class="cms"  style="margin-top:70px;">
        <h1 style="text-align:center;">China's measures to boost tourism during the COVID-19 pandemic</h1>
    </div>

    <div>
        <div class="ipo" style="font-size: 18px;
    background-color: white;
    width: 580px;
    margin-left:50px;
    margin-right:20px;
    margin-top:23px;
    float: left;
    padding: 14px 40px;">
            <h2>(1) Increase publicity online</h2>
            <p style="font-size:20px; text-align:justify;line-height:200%;">Nearly 7,000 audio guided Tours including 3,000 scenic spots were
            available for free, and the number of visitors to the event increased
            by 600% in one week.
            Marketing is encouraged through the popular ways like live broadcast
            and short video, and more and more local government leaders, such as
            mayors, heads of departments and county heads, are also participating
            in online publicity. (Fronde 2021)</p>
                <h2>(2) Financial measures</h2>
                <p style="font-size:20px;text-align:justify;line-height:200%;">Tax reduction: The value-added tax rate for small-scale taxpayers will
                be reduced from 3% to 1% in 2020.
                Refund of quality guarantee: 80% of the travel agency's quality guarantee
                is temporarily returned within two years;
                Loan guarantee: provide loan guarantee for accommodation and catering
            industry, and cultural and tourism industry, and cannot blindly withdraw
            loans, cut off loans, pressure loans; (Xie 2021)</p>
            <h2>(3) Transformation of tour mode</h2>
            <p style="font-size:20px;text-align:justify;line-height:200%">With the intelligent development of tourism, ‘unmanned service’, ‘virtual
            reality’ and ‘intelligent robot guide’ have become the basic requirements
            of major tourism enterprises and scenic areas.
           Cloud tourism a new tourism mode. (Wang 2020)</p>
            </div>

        <div class="ipo_img" style="padding-top:70px;padding-right:0px;">
            <img src="{% static 'images/dy.png' %}" alt="Media" width="550" height="200">
        </div>
    </div>
<br>

</div>


<br><br><br><br><br><br><br><br><br><br>

 <div class="reflist" style="font-size: 15px;
    color:#686868;
    margin-top:-20px;
    margin-left:50px;
    margin-right:50px;
    padding: 14px 40px;
    text-align:left">
        <h2>Reference list：</h2>
   <p>1. ChinaDiscovery 2021, Travel Guide: China travel after covid 19, issues paper, China Highlights, Sichuan, viewed 5 November 2021,
       <a class="acolor" href="https://www.chinahighlights.com/travelguide/china-travel-reopen-restrictions.htm">https://www.chinahighlights.com/travelguide/china-travel-reopen-restrictions.htm</a>.
   </p>
   <p>2. Xie, H 2021, China's tourism industry hit hard as COVID-19 cases surge during summer holiday, issues paper, China Global Television Network, Beijing, viewed 6 November 2021,
       <a class="acolor" href="https://news.cgtn.com/news/2021-08-07/China-s-tourism-hit-hard-as-COVID-19-cases-surge-during-summer-holiday-12wTk0UAODC/index.html">https://news.cgtn.com/news/2021-08-07/China-s-tourism-hit-hard-as-COVID-19-cases-surge-during-summer-holiday-12wTk0UAODC/index.html</a>.
   </p>
    <p>3. Fronde, N 2021, Domestic tourism in China booming despite Covid-19, issues paper, Thaiger, Singapore, viewed 5 November 2021,
         <a class="acolor" href="https://thethaiger.com/hot-news/tourism/domestic-tourism-in-china-booming-despite-covid-19">https://thethaiger.com/hot-news/tourism/domestic-tourism-in-china-booming-despite-covid-19</a>.
    </p>
     <p>4.Wang, Y 2020, China should encourage cloud tourism: China Daily columnist, issues paper, The Straits Times, Toa Payoh, viewed 5 November 2021,
         <a class="acolor" href="https://www.straitstimes.com/asia/china-should-encourage-cloud-tourism-china-daily-columnist">https://www.straitstimes.com/asia/china-should-encourage-cloud-tourism-china-daily-columnist</a>.
     </p>
</div>

<div class="clickcomment" style="opacity: 0.5;font-size:20px;text-align:right;border-style:solid; border-radius:25px;
    margin-left:1060px; padding:20px 20px 10px 10px;
    margin-bottom:20px; margin-right:20px;
    margin-top:20px;">
        <a style="font-style:italic; color:black;text-decoration: none;" href="/regist/">Leave Your Comment, Click Me</a>
    </div>

{% endblock %}